<h1 id="page_title">Thoughts on being and becoming an engineer</h1>

<div id="posts_wrapper" class="skinny-wrapper">
	<div class="post">
		<h2><a href="#">post title</a></h2>
		<p class="date">Date here</p>
		<hr>
	</div>

	<div class="post">
		<h2><a href="/posts/1">post title</a></h2>
		<p class="date">Date here</p>
		<hr>
	</div>

	<div class="post">
		<h2><a href="#">post title</a></h2>
		<p class="date">Date here</p>
		<hr>
	</div>	
</div>

<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a rel="next" href="#">2</a>
	<a rel="next page" href="#">Next</a>
</div>